GEMINI_API_KEY = ""
GEMINI_API_KEY1 = ""
GEMINI_BASE_URL = "https://generativelanguage.googleapis.com/v1beta/openai/"
GEMINI_EMBEDDING_MODEL = "gemini-embedding-001"
GEMINI_GEN_MODEL = "gemini-2.5-flash"

LOCAL_EMBED_EN = "BAAI/bge-base-en"
LOCAL_EMBED_MUL = "BAAI/bge-m3"